<div class="container py-4" >
  <%= link_to "← Back to Main Page", markets_path, class: "d-block mb-5"%>

  <h2 class="mb-5 offset-md-1">Product Detail</h1>
 
  <div class="row">
    <!-- Item Image -->
    <div class="col-md-5 offset-md-1">
      <div style="max-width: 300px;">
        <img
          src="<%=@market.image_url %>"
          alt="<%= @market.name %>"
          class="img-fluid"
        >
      </div>
    </div>

    <!-- Details and order -->
    <div class="col-md-5 offset-md-1">
      <h3 class="mb-5"><%= @market.name %></h3>
      <p class="mb-5"><%= @market.description %></p>
      <p class="mb-2"><%= @market.stock_current%></p>
        <p class="bold mb-4">
        <strong><%= number_to_currency(@market.price, unit: "€", separator: ",", precision: 2) %></strong>
      </p>

    <div>
      <%= link_to "Edit item", edit_market_path(@market) %> |
      <%= link_to "Delete item", @market,data: { turbo_method: :delete} %>
      
    </div>

      </div>
    </div>
  </div>
</div>